/*--------------------------------------------------------------------------
   

	
	Rafael Q. Portoflio CSS based in Typebig 

	0. YUI Library is used for CSS reset (http://yuilibrary.com/yui/docs/cssreset/)
	1. Body
	2. Typography
	3. Page Sections
		3.1. Topbar
		3.2. Intro
		3.4. Works
			3.4.1 jQuery Reveal Plugin
		3.5. Contact / References / Testimonials
		3.6. Footer


--------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------
	1. Body
--------------------------------------------------------------------------*/

.Baufra-DemiBold { 
	font-family: Baufra-DemiBold;
	font-weight: normal;
	font-style: normal;
}
.Baufra-Medium { 
	font-family: Baufra-Medium;
	font-weight: normal;
	font-style: normal;
}

body {
	color: #333;
	background: #fff;
	font: 14px/22px Baufra-Medium;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}


/*--------------------------------------------------------------------------
	2. Typography
--------------------------------------------------------------------------*/

/* Headings Default */
h1 { font-size: 17px; line-height: 20px; font-family: Baufra-DemiBold;}
h2 { font-size: 18px; line-height: 27px; font-family: Baufra-DemiBold;}
h3 { font-size: 14px; line-height: 22px; font-family: Baufra-DemiBold;}
h4 { font-size: 13px; line-height: 23px; font-family: Baufra-DemiBold;}
h6 { font-size: 12px; line-height: 14px; font-family: Baufra-DemiBold;}

/* Links */
a, a:visited { font-family: Baufra-DemiBold; color: #fff; text-decoration: none; underline; outline: 0; }
/*a:hover, a:focus { color: #e74c3c; background: #f5f5f5;}*/
p a, p a:visited { line-height: inherit; }


em, .italic { font-style: italic; }
strong { font-weight: bold; }
small { font-size: 80%; }

.font-color-primary {
	color: #e74c3c;
}

.font-color-gray {
	color: #bbb;
}

.font-color-black {
	color: #111;
}

#twitter{
color: #c3c3c3;
}

#twitter li {
list-style-type: none;
}

#twitter span {
color: #FFCC00;
background: #000000;
}

#twitter span a {
display: inline;
color: #000000;
}


/*--------------------------------------------------------------------------
	3. Page Sections
--------------------------------------------------------------------------*/

/* Common Elements */
img {
	max-width: 100%;
}

h3 {
	font-family: Baufra-DemiBold;
	font: 12px/22px;
	letter-spacing: 2px;
	margin-bottom: 20px; 
}

h5 { 
	font-family: Baufra-DemiBold;
	font: 11px/21px;
	letter-spacing: 2px;
	margin-bottom: 3px;
}




	/*---------------------------------------------------
		3.2 Header

		Includes full-width background iamge and intro paragraph
	---------------------------------------------------*/

	#section-intro {
	}

		/* Profile Image (Full background) */
		#section-profileImage  {
			background: #222 url('../images/background.jpg') no-repeat center center;
			background-size: cover;
			background-attachment: fixed;
			height: 480px;                
		}

			#section-profileImage #box-name {
				color: #333;
				font-size: 16px;
				line-height: 26px;
				margin-top: 180px;
				text-align: center;
				text-shadow:2px 2px 2px #333;
			}

				#section-profileImage #box-name h2 {
					color: #fff;
					font-family: Moondance;
					font-size: 50px;
					letter-spacing: 3px;
				}


				#section-profileImage #box-name p {
					color: #fff;
					font-family: Baufra-Medium;
					font-size: 14px;
					margin-top: 15px;
				}

/*				#section-profileImage #box-name a {
					color: #fff;
				}

					#section-profileImage #box-name a:hover {
						color: #e74c3c;
					}*/

	ul.social{
		list-style: none;
		margin: auto;
		text-align: center;
		margin-top: 30px;
		margin-left: 20px;
	}

	#section-intro li{
		display: inline;
		margin-right: 30px;
	}

	#section-intro img{
		border: none;
	}
	
	#section-intro a{
		text-decoration: none;
	}
	#section-works {
		background-color:#999;
	}
	#section-contact {
	}
	#section-works .item{
		background:none;
	}

	#section-works .item img:hover {
		opacity:1;
	}
	#section-works h3 {
		color:#222;
		font-size:1.5em;
	}
	.container .five.columns.first {
		margin-left:0;
	}
	#section-works .item {
		opacity:1 !important;
	}
	#section-works .caption {
		opacity:1;
		color:#555;
		display:block;
	}
	#section-works .item {
		margin-left:0;
	}
	#section-works .img-wrap {
		opacity:1;
	}
	#section-works .item img {
		opacity:.9;
	}


		/* About */
		#section-about {
			color: #fff;
			background: #C1392B;
			padding: 40px 0;
		}

			p.intro {
				color: #f5f5f5;
				font-family: Baufra-Medium;
				font-size: 18px;
				line-height: 33px;
				text-align: center;
			}
			

		#section-about a:hover, a:focus { 
			color: #e74c3c; 
			background: #f5f5f5;
		}

	

	/*---------------------------------------------------
		3.4 Works
	---------------------------------------------------*/
	
	#section-works .item:hover .caption {
		display: block;
		}

	#section-works .caption{ 
		position:absolute;
		padding-top: 5px;
		color: #c3c3c3;
		display: none;
	}

	#section-works .scaption{
		color: #717171;
		font-size: 16px;
	}

	#section-works {
		color: #222;
		background: #222;
		font: normal 16px/26px 'PT Serif', Georgia, serif;
		padding: 80px 0;
	}

		#section-works .item {
			color: #333;
			background: #fff;
			margin-bottom: 80px;
			margin-left: 15px;
			margin-right: 15px;
		}

		#section-works .item.dribbble {
			color: #9cf4ca;
			background: #9cf4ca;
		}

			#section-works .item.last {
				margin-bottom: 0px;
			}

			#section-works a:hover .item {

			}

		#section-works .img-wrap {
			background: #000;
			line-height: 0;
			position: relative;
		}

			#section-works .item .work-info {
				margin: 30px 40px 20px 0;
			}

				#section-works .item span.category {
					color: #ccc;
					font: normal 11px/21px 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
					text-transform: uppercase;
					letter-spacing: 2px;
				}

				#section-works .item h4 {
					font-size: 17px;
					line-height: 28px;
					margin: 5px 0 20px 0;
				}

					#section-works a:hover .item h4 {
						color: #333;
					}

				#section-works .item p {
					color: #aaa;
					font: normal 12px/22px 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
				}

					#section-works a:hover .item p {
						color: #777;
					}



		/*---------------------------------------------------
			3.4.1 jQuery Reveal Plugin
		---------------------------------------------------*/
				
		/* CSS for jQuery Reveal Plugin Maintained for Foundation. foundation.zurb.com Free to use under the MIT license. http://www.opensource.org/licenses/mit-license.php */
		/* Reveal Modals ---------------------- */
		.reveal-modal-bg { 
			position: fixed; 
			height: 100%; 
			width: 100%; 
			background: #000; 
			background: rgba(0, 0, 0, 0.55); 
			z-index: 40; 
			display: none; 
			top: 0; 
			left: 0; 
		}

		.reveal-modal { 
			background: #fff; 
			visibility: hidden; 
			display: none; 
			top: 100px; 
			left: 50%; 
			margin-left: -300px; 
			width: 600px; 
			position: absolute; 
			z-index: 41; 
			padding: 0; 
		}

			.reveal-modal .box-modal {
				padding: 20px 25px;
			}

				.reveal-modal .box-modal h4 {
					font-family: Baufra-DemiBold;
					font-size: 18px;
					margin-bottom: 15px;
				}

				.reveal-modal .box-modal p {
					color: #aaa;
					font-family: Baufra-DemiBold;
					font-size: 16px;
				}

			.reveal-modal a.link-details {
				display: block;
				color: #333;
				background: #f5f5f5;
				padding: 20px 25px;
				border-top: 1px solid #eee;
				font-family: Baufra-DemiBold;
				font-size: 18px;
				letter-spacing: 3px;
				text-align: center;
			}

				.reveal-modal a.link-details:hover {
					color: #fff;
					background: #e74c3c;
				}

			.reveal-modal a.close-reveal-modal {
				display: block;
				padding: 20px 25px;
				color: #aaa;
				background: #fff;
				font-family: Baufra-DemiBold;
				font-size: 15px;
				text-transform: uppercase;
				letter-spacing: 3px;
				cursor: pointer;
				text-align: center;
			}

				.reveal-modal a.close-reveal-modal:hover {
					color: #f5f5f5;
					background: #333;
				}

		@media print { .reveal-modal { border: solid 1px black; background: #fff; } }

/*---------------------------------------------------
		3.5 Twitter / 
	---------------------------------------------------*/

	.tweet{
		text-align: center;
		font-size: 18px;
	}

	.tweet_time{
		display: block;
		padding-top: 10px;
		padding-bottom: 40px;
		font-size: 14px;
		color: #c3c3c3;
	}

	.tweet_img{
		padding-bottom: 10px;
	}
			
	/*---------------------------------------------------
		3.5 Contact / References / Testimonials
	---------------------------------------------------*/
	
	#section-contact {
		color: #c3c3c3;
		padding: 0px 0;
		background: #333;
		padding: 60px 0;
	}

	#section-contact.container {
		max-width: 90%;
	}

	#section-contact a{
		color: #e74c3c;
	}

	#section-contact a:hover{
		color: #fff;
		background-color: #e74c3c;
	}


	
		#section-contact h3 {
			font-weight: bold;
			color: #333;
			margin-bottom: 25px;
		}

			#section-contact h3 span.underline {
				padding-bottom: 3px;
				border-bottom: 1px solid #333;
			}

		#section-contact p.desc {
			color: #777;
			margin-bottom: 40px;
		}
		
		/* Register Form */
		#section-contact form {
			margin-bottom: 40px;
		}

		#section-contact form p,
		#section-contact label,
		#section-contact legend { 
			font: normal 13px/23px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
		}
		
		#section-contact label {
			display: inline-block;
			float: left;
			width: 155px;
			margin: 6px 0;
		}
		
		#section-contact input, 
		#section-contact textarea, 
		#section-contact select { 
			width: 280px; 
			padding: 14px 20px; 
			color: #eee; 
			background: #333;
			margin: 0 0 35px 0; 
			border: 0;
			outline: none;
		}
		
		#section-contact input:focus, 
		#section-contact textarea:focus, 
		#section-contact select:focus { 
			color: #fff;
			background-color: #e74c3c;
		}
		
		#section-contact button.submit {
			font: bold 20px/30px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
			text-transform: uppercase;
			letter-spacing: 4px;
			display: block;
			cursor: pointer;
			color:#fff;
			background:#e74c3c;
			padding: 20px 28px;
			border: none;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			-khtml-border-radius: 3px;
			border-radius: 3px;
		}
		
		#section-contact button.submit:hover { 
			color: #e74c3c;
			background: #fff; 
		}
		
		#section-contact span.required { 
			color: #e74c3c;
			font-size: 13px;  
		} /* Select the color of the * if the field is required. */


		#contact-warning,
		#contact-success {
			font: normal 12px/23px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
		}

		#contact-warning {
			display: none;
			color: #fff;
			background: #dd3333;
			padding: 20px 25px;
			margin-bottom: 30px;
		}
		
		#contact-success {
			display: none;
			color: #77aa44;
			background: #111;
			padding: 20px 25px;
			margin-bottom: 30px;
		}

		/* HTML5 Placeholder */
		::-webkit-input-placeholder {
		   color: #e74c3c;
		}

		:-moz-placeholder {  
			color: #e74c3c;
		}


		#box-references {}

			#box-references h3 {
				margin-bottom: 0; 
			}

			#box-references p.desc {
				font: normal 13px/24px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
			}

			#box-references .item {
				color: #666;
				margin-top: 20px;
			}

				#box-references .item h4 {
					color: #fff;
					font: normal 15px/25px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
					margin-top: 15px;
				}

				#box-references .item p {
					color: #888;
					font: normal 13px/24px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
					margin-bottom: 30px;
				}

					#box-references .item p a {
						color: #bbb;
					}

					#box-references .item p a:hover {
						color: #fff;
					}


		#box-testimonials {

		}

			#box-testimonials .item {
				margin-top: 30px;
			} 

			#box-testimonials h3 {
				margin-bottom: 0; 
			}

			#box-testimonials blockquote p.quote {
				color: #eee;
				font: italic 15px/26px 'PT Serif', Georgia, serif;
			}

			#box-testimonials blockquote h4 {
				color: #e74c3c;
				font: normal 15px/25px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
				margin-top: 10px;
			}

			#box-testimonials blockquote p.position {
				color: #666;
				font: normal 11px/21px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
				text-transform: uppercase;
				letter-spacing: 2px;
			}



	
	/*---------------------------------------------------
		3.6 Footer
	---------------------------------------------------*/

	#section-footer {
		color: #c3c3c3;
		background: #222;
		font-size: 16px;
		font-family: Baufra-DemiBold;
		text-align: center;
	}

		#section-footer p {
			padding: 40px 0;
		}

		#section-footer a { color: #fff; }

		#section-footer a:hover { color: #e74c3c; }


		#section-footer ul#social {
			float: right;
			border-left: 1px solid #111;
		}

		#section-footer ul#social li {
			display: inline-block;
			float: left;
		}

		#section-footer ul#social li a {
			display: block;
			line-height: 0;
			padding: 30px;
		}

		@media only screen and (max-width: 767px) {
			#section-footer ul#social li a {
				background: #e74c3c;
			}
		}

		#section-footer ul#social li a:hover {
			background: #e74c3c;
		}
